.fal-row {
  display: block;
  overflow: auto;
  padding: 5px; }
  @media (min-width: 0) {
    .fal-row .fal-col-xs-1 {
      width: 8.33333%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-xs-2 {
      width: 16.66667%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-xs-3 {
      width: 25%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-xs-4 {
      width: 33.33333%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-xs-5 {
      width: 41.66667%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-xs-6 {
      width: 50%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-xs-7 {
      width: 58.33333%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-xs-8 {
      width: 66.66667%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-xs-9 {
      width: 75%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-xs-10 {
      width: 83.33333%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-xs-11 {
      width: 91.66667%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-xs-12 {
      width: 100%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; } }
  @media (min-width: 768px) {
    .fal-row .fal-col-md-1 {
      width: 8.33333%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-md-2 {
      width: 16.66667%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-md-3 {
      width: 25%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-md-4 {
      width: 33.33333%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-md-5 {
      width: 41.66667%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-md-6 {
      width: 50%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-md-7 {
      width: 58.33333%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-md-8 {
      width: 66.66667%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-md-9 {
      width: 75%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-md-10 {
      width: 83.33333%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-md-11 {
      width: 91.66667%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-md-12 {
      width: 100%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; } }
  @media (min-width: 1200px) {
    .fal-row .fal-col-lg-1 {
      width: 8.33333%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-lg-2 {
      width: 16.66667%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-lg-3 {
      width: 25%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-lg-4 {
      width: 33.33333%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-lg-5 {
      width: 41.66667%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-lg-6 {
      width: 50%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-lg-7 {
      width: 58.33333%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-lg-8 {
      width: 66.66667%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-lg-9 {
      width: 75%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-lg-10 {
      width: 83.33333%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-lg-11 {
      width: 91.66667%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; }
    .fal-row .fal-col-lg-12 {
      width: 100%;
      display: block;
      overflow: auto;
      float: left;
      outline: 1px solid red;
      text-align: center; } }

/*# sourceMappingURL=main.css.map */
