@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.fal-row {
  display: block;
  overflow: auto;
  padding: 5px; }
  @media (min-width: 0) {
    .fal-row .fal-col-xs-1 {
      width: 8.33333%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-xs-offset-1 {
      margin-left: 8.33333%; }
    .fal-row .fal-col-xs-2 {
      width: 16.66667%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-xs-offset-2 {
      margin-left: 16.66667%; }
    .fal-row .fal-col-xs-3 {
      width: 25%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-xs-offset-3 {
      margin-left: 25%; }
    .fal-row .fal-col-xs-4 {
      width: 33.33333%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-xs-offset-4 {
      margin-left: 33.33333%; }
    .fal-row .fal-col-xs-5 {
      width: 41.66667%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-xs-offset-5 {
      margin-left: 41.66667%; }
    .fal-row .fal-col-xs-6 {
      width: 50%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-xs-offset-6 {
      margin-left: 50%; }
    .fal-row .fal-col-xs-7 {
      width: 58.33333%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-xs-offset-7 {
      margin-left: 58.33333%; }
    .fal-row .fal-col-xs-8 {
      width: 66.66667%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-xs-offset-8 {
      margin-left: 66.66667%; }
    .fal-row .fal-col-xs-9 {
      width: 75%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-xs-offset-9 {
      margin-left: 75%; }
    .fal-row .fal-col-xs-10 {
      width: 83.33333%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-xs-offset-10 {
      margin-left: 83.33333%; }
    .fal-row .fal-col-xs-11 {
      width: 91.66667%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-xs-offset-11 {
      margin-left: 91.66667%; }
    .fal-row .fal-col-xs-12 {
      width: 100%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-xs-offset-12 {
      margin-left: 100%; }
    .fal-row .fal-col-xs-hidden {
      display: none; } }
  @media (min-width: 768px) {
    .fal-row .fal-col-md-1 {
      width: 8.33333%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-md-offset-1 {
      margin-left: 8.33333%; }
    .fal-row .fal-col-md-2 {
      width: 16.66667%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-md-offset-2 {
      margin-left: 16.66667%; }
    .fal-row .fal-col-md-3 {
      width: 25%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-md-offset-3 {
      margin-left: 25%; }
    .fal-row .fal-col-md-4 {
      width: 33.33333%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-md-offset-4 {
      margin-left: 33.33333%; }
    .fal-row .fal-col-md-5 {
      width: 41.66667%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-md-offset-5 {
      margin-left: 41.66667%; }
    .fal-row .fal-col-md-6 {
      width: 50%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-md-offset-6 {
      margin-left: 50%; }
    .fal-row .fal-col-md-7 {
      width: 58.33333%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-md-offset-7 {
      margin-left: 58.33333%; }
    .fal-row .fal-col-md-8 {
      width: 66.66667%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-md-offset-8 {
      margin-left: 66.66667%; }
    .fal-row .fal-col-md-9 {
      width: 75%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-md-offset-9 {
      margin-left: 75%; }
    .fal-row .fal-col-md-10 {
      width: 83.33333%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-md-offset-10 {
      margin-left: 83.33333%; }
    .fal-row .fal-col-md-11 {
      width: 91.66667%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-md-offset-11 {
      margin-left: 91.66667%; }
    .fal-row .fal-col-md-12 {
      width: 100%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-md-offset-12 {
      margin-left: 100%; }
    .fal-row .fal-col-md-hidden {
      display: none; } }
  @media (min-width: 1200px) {
    .fal-row .fal-col-lg-1 {
      width: 8.33333%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-lg-offset-1 {
      margin-left: 8.33333%; }
    .fal-row .fal-col-lg-2 {
      width: 16.66667%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-lg-offset-2 {
      margin-left: 16.66667%; }
    .fal-row .fal-col-lg-3 {
      width: 25%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-lg-offset-3 {
      margin-left: 25%; }
    .fal-row .fal-col-lg-4 {
      width: 33.33333%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-lg-offset-4 {
      margin-left: 33.33333%; }
    .fal-row .fal-col-lg-5 {
      width: 41.66667%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-lg-offset-5 {
      margin-left: 41.66667%; }
    .fal-row .fal-col-lg-6 {
      width: 50%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-lg-offset-6 {
      margin-left: 50%; }
    .fal-row .fal-col-lg-7 {
      width: 58.33333%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-lg-offset-7 {
      margin-left: 58.33333%; }
    .fal-row .fal-col-lg-8 {
      width: 66.66667%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-lg-offset-8 {
      margin-left: 66.66667%; }
    .fal-row .fal-col-lg-9 {
      width: 75%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-lg-offset-9 {
      margin-left: 75%; }
    .fal-row .fal-col-lg-10 {
      width: 83.33333%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-lg-offset-10 {
      margin-left: 83.33333%; }
    .fal-row .fal-col-lg-11 {
      width: 91.66667%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-lg-offset-11 {
      margin-left: 91.66667%; }
    .fal-row .fal-col-lg-12 {
      width: 100%;
      display: block;
      overflow: auto;
      float: left; }
    .fal-row .fal-col-lg-offset-12 {
      margin-left: 100%; }
    .fal-row .fal-col-lg-hidden {
      display: none; } }

h1 {
  font-size: 37px;
  margin: 10px; }

h2 {
  font-size: 34px;
  margin: 10px; }

h3 {
  font-size: 31px;
  margin: 10px; }

h4 {
  font-size: 28px;
  margin: 10px; }

h5 {
  font-size: 25px;
  margin: 10px; }

h6 {
  font-size: 22px;
  margin: 10px; }

p {
  margin: 10px; }

ul, .fal-ul {
  margin: 10px; }
  ul li, .fal-ul li {
    padding-left: 20px;
    margin: 10px; }
    ul li:before, .fal-ul li:before {
      content: "•";
      margin-right: 5px; }

.fal-font-size-1 {
  font-size: 1px; }

.fal-font-size-2 {
  font-size: 2px; }

.fal-font-size-3 {
  font-size: 3px; }

.fal-font-size-4 {
  font-size: 4px; }

.fal-font-size-5 {
  font-size: 5px; }

.fal-font-size-6 {
  font-size: 6px; }

.fal-font-size-7 {
  font-size: 7px; }

.fal-font-size-8 {
  font-size: 8px; }

.fal-font-size-9 {
  font-size: 9px; }

.fal-font-size-10 {
  font-size: 10px; }

.fal-font-size-11 {
  font-size: 11px; }

.fal-font-size-12 {
  font-size: 12px; }

.fal-font-size-13 {
  font-size: 13px; }

.fal-font-size-14 {
  font-size: 14px; }

.fal-font-size-15, .fal-btn-white, .fal-btn-black, .fal-btn-default, .fal-btn-petal, .fal-btn-poppy, .fal-btn-stem, .fal-btn-springGreen, .fal-btn-mist, .fal-btn-stone, .fal-btn-shadow, .fal-btn-autumnFoliage, .fal-btn-sky, .fal-btn-sunset, .fal-btn-sunflower, .fal-btn-grass, .fal-btn-sandstone, .fal-btn-burntOrange, .fal-btn-sea, .fal-btn-lagoon, .fal-btn-hotPink, .fal-btn-bubblegum, .fal-btn-pollen, .fal-btn-brandy, .fal-btn-avocado, .fal-btn-yellowPepper, .fal-btn-aquaBlue, .fal-btn-ripeTomato, .fal-btn-sage, .fal-btn-honey, .fal-btn-bluebell, .fal-btn-raspberry, .fal-btn-electricBlue, .fal-btn-banana, .fal-btn-watermelon, .fal-btn-cantelope, .fal-btn-freshOrange, .fal-btn-fuschia, .fal-btn-lemonDrop, .fal-btn-blueRaspberry, .fal-btn-fresh, .fal-btn-vermillion, .fal-btn-sunshine, .fal-btn-clean, .fal-btn-papaya, .fal-btn-mustard, .fal-btn-blush, .fal-btn-marine {
  font-size: 15px; }

.fal-font-size-16 {
  font-size: 16px; }

.fal-font-size-17 {
  font-size: 17px; }

.fal-font-size-18 {
  font-size: 18px; }

.fal-font-size-19 {
  font-size: 19px; }

.fal-font-size-20 {
  font-size: 20px; }

.fal-font-size-21 {
  font-size: 21px; }

.fal-font-size-22 {
  font-size: 22px; }

.fal-font-size-23 {
  font-size: 23px; }

.fal-font-size-24 {
  font-size: 24px; }

.fal-font-size-25 {
  font-size: 25px; }

.fal-font-size-26 {
  font-size: 26px; }

.fal-font-size-27 {
  font-size: 27px; }

.fal-font-size-28 {
  font-size: 28px; }

.fal-font-size-29 {
  font-size: 29px; }

.fal-font-size-30 {
  font-size: 30px; }

.fal-font-size-31 {
  font-size: 31px; }

.fal-font-size-32 {
  font-size: 32px; }

.fal-font-size-33 {
  font-size: 33px; }

.fal-font-size-34 {
  font-size: 34px; }

.fal-font-size-35 {
  font-size: 35px; }

.fal-font-size-36 {
  font-size: 36px; }

.fal-font-size-37 {
  font-size: 37px; }

.fal-font-size-38 {
  font-size: 38px; }

.fal-font-size-39 {
  font-size: 39px; }

.fal-font-size-40 {
  font-size: 40px; }

.fal-font-size-41 {
  font-size: 41px; }

.fal-font-size-42 {
  font-size: 42px; }

.fal-font-size-43 {
  font-size: 43px; }

.fal-font-size-44 {
  font-size: 44px; }

.fal-font-size-45 {
  font-size: 45px; }

.fal-font-size-46 {
  font-size: 46px; }

.fal-font-size-47 {
  font-size: 47px; }

.fal-font-size-48 {
  font-size: 48px; }

.fal-font-size-49 {
  font-size: 49px; }

.fal-font-size-50 {
  font-size: 50px; }

.fal-font-size-51 {
  font-size: 51px; }

.fal-font-size-52 {
  font-size: 52px; }

.fal-font-size-53 {
  font-size: 53px; }

.fal-font-size-54 {
  font-size: 54px; }

.fal-font-size-55 {
  font-size: 55px; }

.fal-font-size-56 {
  font-size: 56px; }

.fal-font-size-57 {
  font-size: 57px; }

.fal-font-size-58 {
  font-size: 58px; }

.fal-font-size-59 {
  font-size: 59px; }

.fal-font-size-60 {
  font-size: 60px; }

.fal-font-size-61 {
  font-size: 61px; }

.fal-font-size-62 {
  font-size: 62px; }

.fal-font-size-63 {
  font-size: 63px; }

.fal-font-size-64 {
  font-size: 64px; }

.fal-font-size-65 {
  font-size: 65px; }

.fal-font-size-66 {
  font-size: 66px; }

.fal-font-size-67 {
  font-size: 67px; }

.fal-font-size-68 {
  font-size: 68px; }

.fal-font-size-69 {
  font-size: 69px; }

.fal-font-size-70 {
  font-size: 70px; }

.fal-font-size-71 {
  font-size: 71px; }

.fal-font-size-72 {
  font-size: 72px; }

.fal-font-size-73 {
  font-size: 73px; }

.fal-font-size-74 {
  font-size: 74px; }

.fal-font-size-75 {
  font-size: 75px; }

.fal-font-size-76 {
  font-size: 76px; }

.fal-font-size-77 {
  font-size: 77px; }

.fal-font-size-78 {
  font-size: 78px; }

.fal-font-size-79 {
  font-size: 79px; }

.fal-font-size-80 {
  font-size: 80px; }

.fal-font-size-81 {
  font-size: 81px; }

.fal-font-size-82 {
  font-size: 82px; }

.fal-font-size-83 {
  font-size: 83px; }

.fal-font-size-84 {
  font-size: 84px; }

.fal-font-size-85 {
  font-size: 85px; }

.fal-font-size-86 {
  font-size: 86px; }

.fal-font-size-87 {
  font-size: 87px; }

.fal-font-size-88 {
  font-size: 88px; }

.fal-font-size-89 {
  font-size: 89px; }

.fal-font-size-90 {
  font-size: 90px; }

.fal-font-size-91 {
  font-size: 91px; }

.fal-font-size-92 {
  font-size: 92px; }

.fal-font-size-93 {
  font-size: 93px; }

.fal-font-size-94 {
  font-size: 94px; }

.fal-font-size-95 {
  font-size: 95px; }

.fal-font-size-96 {
  font-size: 96px; }

.fal-font-size-97 {
  font-size: 97px; }

.fal-font-size-98 {
  font-size: 98px; }

.fal-font-size-99 {
  font-size: 99px; }

.fal-font-size-100 {
  font-size: 100px; }

ol, .fal-ol {
  margin-left: 40px;
  list-style-type: decimal; }
  ol li, .fal-ol li {
    padding-left: 5px;
    margin: 10px; }

.fal-background-color-white {
  background-color: #FFF; }

.fal-background-color-black {
  background-color: #000; }

.fal-background-color-default {
  background-color: #2A3132; }

.fal-background-color-petal {
  background-color: #F98866; }

.fal-background-color-poppy {
  background-color: #FF420E; }

.fal-background-color-stem {
  background-color: #80BD9E; }

.fal-background-color-springGreen {
  background-color: #89DA59; }

.fal-background-color-mist {
  background-color: #90AFC5; }

.fal-background-color-stone {
  background-color: #336B87; }

.fal-background-color-shadow {
  background-color: #2A3132; }

.fal-background-color-autumnFoliage {
  background-color: #763626; }

.fal-background-color-sky {
  background-color: #375E97; }

.fal-background-color-sunset {
  background-color: #FB6542; }

.fal-background-color-sunflower {
  background-color: #FFBB00; }

.fal-background-color-grass {
  background-color: #3F681C; }

.fal-background-color-sandstone {
  background-color: #F4CC70; }

.fal-background-color-burntOrange {
  background-color: #DE7A22; }

.fal-background-color-sea {
  background-color: #20948B; }

.fal-background-color-lagoon {
  background-color: #6AB187; }

.fal-background-color-hotPink {
  background-color: #F52549; }

.fal-background-color-bubblegum {
  background-color: #FA6775; }

.fal-background-color-pollen {
  background-color: #FFD64D; }

.fal-background-color-brandy {
  background-color: #9BC01C; }

.fal-background-color-avocado {
  background-color: #258039; }

.fal-background-color-yellowPepper {
  background-color: #F5BE41; }

.fal-background-color-aquaBlue {
  background-color: #31A9B8; }

.fal-background-color-ripeTomato {
  background-color: #CF3721; }

.fal-background-color-sage {
  background-color: #A1BE95; }

.fal-background-color-honey {
  background-color: #E2DFA2; }

.fal-background-color-bluebell {
  background-color: #92AAC7; }

.fal-background-color-raspberry {
  background-color: #ED5752; }

.fal-background-color-electricBlue {
  background-color: #489768; }

.fal-background-color-banana {
  background-color: #FFDB5C; }

.fal-background-color-watermelon {
  background-color: #FA6E59; }

.fal-background-color-cantelope {
  background-color: #F8A055; }

.fal-background-color-freshOrange {
  background-color: #F47D4A; }

.fal-background-color-fuschia {
  background-color: #E1315B; }

.fal-background-color-lemonDrop {
  background-color: #FFEC5C; }

.fal-background-color-blueRaspberry {
  background-color: #008DCB; }

.fal-background-color-fresh {
  background-color: #4ABDAC; }

.fal-background-color-vermillion {
  background-color: #FC4A1A; }

.fal-background-color-sunshine {
  background-color: #F7B733; }

.fal-background-color-clean {
  background-color: #DFDCE3; }

.fal-background-color-papaya {
  background-color: #E24E42; }

.fal-background-color-mustard {
  background-color: #E9B000; }

.fal-background-color-blush {
  background-color: #EB6E80; }

.fal-background-color-marine {
  background-color: #008F95; }

.fal-color-white, .fal-btn-white, .fal-btn-black, .fal-btn-default, .fal-btn-petal, .fal-btn-poppy, .fal-btn-stem, .fal-btn-springGreen, .fal-btn-mist, .fal-btn-stone, .fal-btn-shadow, .fal-btn-autumnFoliage, .fal-btn-sky, .fal-btn-sunset, .fal-btn-sunflower, .fal-btn-grass, .fal-btn-sandstone, .fal-btn-burntOrange, .fal-btn-sea, .fal-btn-lagoon, .fal-btn-hotPink, .fal-btn-bubblegum, .fal-btn-pollen, .fal-btn-brandy, .fal-btn-avocado, .fal-btn-yellowPepper, .fal-btn-aquaBlue, .fal-btn-ripeTomato, .fal-btn-sage, .fal-btn-honey, .fal-btn-bluebell, .fal-btn-raspberry, .fal-btn-electricBlue, .fal-btn-banana, .fal-btn-watermelon, .fal-btn-cantelope, .fal-btn-freshOrange, .fal-btn-fuschia, .fal-btn-lemonDrop, .fal-btn-blueRaspberry, .fal-btn-fresh, .fal-btn-vermillion, .fal-btn-sunshine, .fal-btn-clean, .fal-btn-papaya, .fal-btn-mustard, .fal-btn-blush, .fal-btn-marine {
  color: #FFF; }

.fal-color-black {
  color: #000; }

.fal-color-default {
  color: #2A3132; }

.fal-color-petal {
  color: #F98866; }

.fal-color-poppy {
  color: #FF420E; }

.fal-color-stem {
  color: #80BD9E; }

.fal-color-springGreen {
  color: #89DA59; }

.fal-color-mist {
  color: #90AFC5; }

.fal-color-stone {
  color: #336B87; }

.fal-color-shadow {
  color: #2A3132; }

.fal-color-autumnFoliage {
  color: #763626; }

.fal-color-sky {
  color: #375E97; }

.fal-color-sunset {
  color: #FB6542; }

.fal-color-sunflower {
  color: #FFBB00; }

.fal-color-grass {
  color: #3F681C; }

.fal-color-sandstone {
  color: #F4CC70; }

.fal-color-burntOrange {
  color: #DE7A22; }

.fal-color-sea {
  color: #20948B; }

.fal-color-lagoon {
  color: #6AB187; }

.fal-color-hotPink {
  color: #F52549; }

.fal-color-bubblegum {
  color: #FA6775; }

.fal-color-pollen {
  color: #FFD64D; }

.fal-color-brandy {
  color: #9BC01C; }

.fal-color-avocado {
  color: #258039; }

.fal-color-yellowPepper {
  color: #F5BE41; }

.fal-color-aquaBlue {
  color: #31A9B8; }

.fal-color-ripeTomato {
  color: #CF3721; }

.fal-color-sage {
  color: #A1BE95; }

.fal-color-honey {
  color: #E2DFA2; }

.fal-color-bluebell {
  color: #92AAC7; }

.fal-color-raspberry {
  color: #ED5752; }

.fal-color-electricBlue {
  color: #489768; }

.fal-color-banana {
  color: #FFDB5C; }

.fal-color-watermelon {
  color: #FA6E59; }

.fal-color-cantelope {
  color: #F8A055; }

.fal-color-freshOrange {
  color: #F47D4A; }

.fal-color-fuschia {
  color: #E1315B; }

.fal-color-lemonDrop {
  color: #FFEC5C; }

.fal-color-blueRaspberry {
  color: #008DCB; }

.fal-color-fresh {
  color: #4ABDAC; }

.fal-color-vermillion {
  color: #FC4A1A; }

.fal-color-sunshine {
  color: #F7B733; }

.fal-color-clean {
  color: #DFDCE3; }

.fal-color-papaya {
  color: #E24E42; }

.fal-color-mustard {
  color: #E9B000; }

.fal-color-blush {
  color: #EB6E80; }

.fal-color-marine {
  color: #008F95; }

.fal-text-align-center {
  text-align: center; }

.fal-text-align-left {
  text-align: left; }

.fal-text-align-right {
  text-align: right; }

.fal-text-decoration-underline {
  text-decoration: underline; }

.fal-text-decoration-overline {
  text-decoration: overline; }

.fal-text-decoration-line-through {
  text-decoration: line-through; }

.fal-text-decoration-none, .fal-btn-white, .fal-btn-black, .fal-btn-default, .fal-btn-petal, .fal-btn-poppy, .fal-btn-stem, .fal-btn-springGreen, .fal-btn-mist, .fal-btn-stone, .fal-btn-shadow, .fal-btn-autumnFoliage, .fal-btn-sky, .fal-btn-sunset, .fal-btn-sunflower, .fal-btn-grass, .fal-btn-sandstone, .fal-btn-burntOrange, .fal-btn-sea, .fal-btn-lagoon, .fal-btn-hotPink, .fal-btn-bubblegum, .fal-btn-pollen, .fal-btn-brandy, .fal-btn-avocado, .fal-btn-yellowPepper, .fal-btn-aquaBlue, .fal-btn-ripeTomato, .fal-btn-sage, .fal-btn-honey, .fal-btn-bluebell, .fal-btn-raspberry, .fal-btn-electricBlue, .fal-btn-banana, .fal-btn-watermelon, .fal-btn-cantelope, .fal-btn-freshOrange, .fal-btn-fuschia, .fal-btn-lemonDrop, .fal-btn-blueRaspberry, .fal-btn-fresh, .fal-btn-vermillion, .fal-btn-sunshine, .fal-btn-clean, .fal-btn-papaya, .fal-btn-mustard, .fal-btn-blush, .fal-btn-marine {
  text-decoration: none; }

.fal-text-transform-capitalize {
  text-transform: capitalize; }

.fal-text-transform-uppercase {
  text-transform: uppercase; }

.fal-text-transform-lowercase {
  text-transform: lowercase; }

.fal-text-transform-none {
  text-transform: none; }

.fal-background-repeat-repeat {
  background-repeat: repeat; }

.fal-background-repeat-no-repeat {
  background-repeat: no-repeat; }

.fal-background-attachment-scroll {
  background-attachment: scroll; }

.fal-background-attachment-fixed {
  background-attachment: fixed; }

.fal-background-attachment-local {
  background-attachment: local; }

.fal-background-position-left {
  background-position: left; }

.fal-background-position-right {
  background-position: right; }

.fal-background-position-top {
  background-position: top; }

.fal-background-position-bottom {
  background-position: bottom; }

.fal-background-position-center {
  background-position: center; }

.fal-background-position-left-top {
  background-position: left top; }

.fal-background-position-left-center {
  background-position: left center; }

.fal-background-position-left-bottom {
  background-position: left bottom; }

.fal-background-position-right-top {
  background-position: right top; }

.fal-background-position-right-center {
  background-position: right center; }

.fal-background-position-right-bottom {
  background-position: right bottom; }

.fal-background-position-center-top {
  background-position: center top; }

.fal-background-position-center-center {
  background-position: center center; }

.fal-background-position-center-bottom {
  background-position: center bottom; }

.fal-border {
  border: 1px solid #000; }

.fal-border-none, .fal-btn-white, .fal-btn-black, .fal-btn-default, .fal-btn-petal, .fal-btn-poppy, .fal-btn-stem, .fal-btn-springGreen, .fal-btn-mist, .fal-btn-stone, .fal-btn-shadow, .fal-btn-autumnFoliage, .fal-btn-sky, .fal-btn-sunset, .fal-btn-sunflower, .fal-btn-grass, .fal-btn-sandstone, .fal-btn-burntOrange, .fal-btn-sea, .fal-btn-lagoon, .fal-btn-hotPink, .fal-btn-bubblegum, .fal-btn-pollen, .fal-btn-brandy, .fal-btn-avocado, .fal-btn-yellowPepper, .fal-btn-aquaBlue, .fal-btn-ripeTomato, .fal-btn-sage, .fal-btn-honey, .fal-btn-bluebell, .fal-btn-raspberry, .fal-btn-electricBlue, .fal-btn-banana, .fal-btn-watermelon, .fal-btn-cantelope, .fal-btn-freshOrange, .fal-btn-fuschia, .fal-btn-lemonDrop, .fal-btn-blueRaspberry, .fal-btn-fresh, .fal-btn-vermillion, .fal-btn-sunshine, .fal-btn-clean, .fal-btn-papaya, .fal-btn-mustard, .fal-btn-blush, .fal-btn-marine {
  border: none; }

.fal-outline {
  outline: 1px solid #000; }

.fal-outline-none, .fal-btn-white, .fal-btn-black, .fal-btn-default, .fal-btn-petal, .fal-btn-poppy, .fal-btn-stem, .fal-btn-springGreen, .fal-btn-mist, .fal-btn-stone, .fal-btn-shadow, .fal-btn-autumnFoliage, .fal-btn-sky, .fal-btn-sunset, .fal-btn-sunflower, .fal-btn-grass, .fal-btn-sandstone, .fal-btn-burntOrange, .fal-btn-sea, .fal-btn-lagoon, .fal-btn-hotPink, .fal-btn-bubblegum, .fal-btn-pollen, .fal-btn-brandy, .fal-btn-avocado, .fal-btn-yellowPepper, .fal-btn-aquaBlue, .fal-btn-ripeTomato, .fal-btn-sage, .fal-btn-honey, .fal-btn-bluebell, .fal-btn-raspberry, .fal-btn-electricBlue, .fal-btn-banana, .fal-btn-watermelon, .fal-btn-cantelope, .fal-btn-freshOrange, .fal-btn-fuschia, .fal-btn-lemonDrop, .fal-btn-blueRaspberry, .fal-btn-fresh, .fal-btn-vermillion, .fal-btn-sunshine, .fal-btn-clean, .fal-btn-papaya, .fal-btn-mustard, .fal-btn-blush, .fal-btn-marine {
  outline: none; }

.fal-circle {
  border-radius: 50%; }

.fal-radius-0 {
  border-radius: 0px; }

.fal-radius-1 {
  border-radius: 1px; }

.fal-radius-2 {
  border-radius: 2px; }

.fal-radius-3 {
  border-radius: 3px; }

.fal-radius-4, .fal-btn-white, .fal-btn-black, .fal-btn-default, .fal-btn-petal, .fal-btn-poppy, .fal-btn-stem, .fal-btn-springGreen, .fal-btn-mist, .fal-btn-stone, .fal-btn-shadow, .fal-btn-autumnFoliage, .fal-btn-sky, .fal-btn-sunset, .fal-btn-sunflower, .fal-btn-grass, .fal-btn-sandstone, .fal-btn-burntOrange, .fal-btn-sea, .fal-btn-lagoon, .fal-btn-hotPink, .fal-btn-bubblegum, .fal-btn-pollen, .fal-btn-brandy, .fal-btn-avocado, .fal-btn-yellowPepper, .fal-btn-aquaBlue, .fal-btn-ripeTomato, .fal-btn-sage, .fal-btn-honey, .fal-btn-bluebell, .fal-btn-raspberry, .fal-btn-electricBlue, .fal-btn-banana, .fal-btn-watermelon, .fal-btn-cantelope, .fal-btn-freshOrange, .fal-btn-fuschia, .fal-btn-lemonDrop, .fal-btn-blueRaspberry, .fal-btn-fresh, .fal-btn-vermillion, .fal-btn-sunshine, .fal-btn-clean, .fal-btn-papaya, .fal-btn-mustard, .fal-btn-blush, .fal-btn-marine {
  border-radius: 4px; }

.fal-radius-5 {
  border-radius: 5px; }

.fal-radius-6 {
  border-radius: 6px; }

.fal-radius-7 {
  border-radius: 7px; }

.fal-radius-8 {
  border-radius: 8px; }

.fal-radius-9 {
  border-radius: 9px; }

.fal-radius-10 {
  border-radius: 10px; }

.fal-radius-11 {
  border-radius: 11px; }

.fal-radius-12 {
  border-radius: 12px; }

.fal-radius-13 {
  border-radius: 13px; }

.fal-radius-14 {
  border-radius: 14px; }

.fal-radius-15 {
  border-radius: 15px; }

.fal-radius-16 {
  border-radius: 16px; }

.fal-radius-17 {
  border-radius: 17px; }

.fal-radius-18 {
  border-radius: 18px; }

.fal-radius-19 {
  border-radius: 19px; }

.fal-radius-20 {
  border-radius: 20px; }

.fal-radius-21 {
  border-radius: 21px; }

.fal-radius-22 {
  border-radius: 22px; }

.fal-radius-23 {
  border-radius: 23px; }

.fal-radius-24 {
  border-radius: 24px; }

.fal-radius-25 {
  border-radius: 25px; }

.fal-radius-26 {
  border-radius: 26px; }

.fal-radius-27 {
  border-radius: 27px; }

.fal-radius-28 {
  border-radius: 28px; }

.fal-radius-29 {
  border-radius: 29px; }

.fal-radius-30 {
  border-radius: 30px; }

.fal-radius-31 {
  border-radius: 31px; }

.fal-radius-32 {
  border-radius: 32px; }

.fal-radius-33 {
  border-radius: 33px; }

.fal-radius-34 {
  border-radius: 34px; }

.fal-radius-35 {
  border-radius: 35px; }

.fal-radius-36 {
  border-radius: 36px; }

.fal-radius-37 {
  border-radius: 37px; }

.fal-radius-38 {
  border-radius: 38px; }

.fal-radius-39 {
  border-radius: 39px; }

.fal-radius-40 {
  border-radius: 40px; }

.fal-radius-41 {
  border-radius: 41px; }

.fal-radius-42 {
  border-radius: 42px; }

.fal-radius-43 {
  border-radius: 43px; }

.fal-radius-44 {
  border-radius: 44px; }

.fal-radius-45 {
  border-radius: 45px; }

.fal-radius-46 {
  border-radius: 46px; }

.fal-radius-47 {
  border-radius: 47px; }

.fal-radius-48 {
  border-radius: 48px; }

.fal-radius-49 {
  border-radius: 49px; }

.fal-radius-50 {
  border-radius: 50px; }

.fal-radius-51 {
  border-radius: 51px; }

.fal-radius-52 {
  border-radius: 52px; }

.fal-radius-53 {
  border-radius: 53px; }

.fal-radius-54 {
  border-radius: 54px; }

.fal-radius-55 {
  border-radius: 55px; }

.fal-radius-56 {
  border-radius: 56px; }

.fal-radius-57 {
  border-radius: 57px; }

.fal-radius-58 {
  border-radius: 58px; }

.fal-radius-59 {
  border-radius: 59px; }

.fal-radius-60 {
  border-radius: 60px; }

.fal-radius-61 {
  border-radius: 61px; }

.fal-radius-62 {
  border-radius: 62px; }

.fal-radius-63 {
  border-radius: 63px; }

.fal-radius-64 {
  border-radius: 64px; }

.fal-radius-65 {
  border-radius: 65px; }

.fal-radius-66 {
  border-radius: 66px; }

.fal-radius-67 {
  border-radius: 67px; }

.fal-radius-68 {
  border-radius: 68px; }

.fal-radius-69 {
  border-radius: 69px; }

.fal-radius-70 {
  border-radius: 70px; }

.fal-radius-71 {
  border-radius: 71px; }

.fal-radius-72 {
  border-radius: 72px; }

.fal-radius-73 {
  border-radius: 73px; }

.fal-radius-74 {
  border-radius: 74px; }

.fal-radius-75 {
  border-radius: 75px; }

.fal-radius-76 {
  border-radius: 76px; }

.fal-radius-77 {
  border-radius: 77px; }

.fal-radius-78 {
  border-radius: 78px; }

.fal-radius-79 {
  border-radius: 79px; }

.fal-radius-80 {
  border-radius: 80px; }

.fal-radius-81 {
  border-radius: 81px; }

.fal-radius-82 {
  border-radius: 82px; }

.fal-radius-83 {
  border-radius: 83px; }

.fal-radius-84 {
  border-radius: 84px; }

.fal-radius-85 {
  border-radius: 85px; }

.fal-radius-86 {
  border-radius: 86px; }

.fal-radius-87 {
  border-radius: 87px; }

.fal-radius-88 {
  border-radius: 88px; }

.fal-radius-89 {
  border-radius: 89px; }

.fal-radius-90 {
  border-radius: 90px; }

.fal-radius-91 {
  border-radius: 91px; }

.fal-radius-92 {
  border-radius: 92px; }

.fal-radius-93 {
  border-radius: 93px; }

.fal-radius-94 {
  border-radius: 94px; }

.fal-radius-95 {
  border-radius: 95px; }

.fal-radius-96 {
  border-radius: 96px; }

.fal-radius-97 {
  border-radius: 97px; }

.fal-radius-98 {
  border-radius: 98px; }

.fal-radius-99 {
  border-radius: 99px; }

.fal-radius-100 {
  border-radius: 100px; }

.fal-margin-top-tiny {
  margin-top: 5px; }

.fal-margin-top-small {
  margin-top: 10px; }

.fal-margin-top-medium {
  margin-top: 15px; }

.fal-margin-top-large {
  margin-top: 25px; }

.fal-margin-top-xlarge {
  margin-top: 35px; }

.fal-margin-top-xxlarge {
  margin-top: 50px; }

.fal-margin-right-tiny {
  margin-right: 5px; }

.fal-margin-right-small {
  margin-right: 10px; }

.fal-margin-right-medium {
  margin-right: 15px; }

.fal-margin-right-large {
  margin-right: 25px; }

.fal-margin-right-xlarge {
  margin-right: 35px; }

.fal-margin-right-xxlarge {
  margin-right: 50px; }

.fal-margin-bottom-tiny {
  margin-bottom: 5px; }

.fal-margin-bottom-small {
  margin-bottom: 10px; }

.fal-margin-bottom-medium {
  margin-bottom: 15px; }

.fal-margin-bottom-large {
  margin-bottom: 25px; }

.fal-margin-bottom-xlarge {
  margin-bottom: 35px; }

.fal-margin-bottom-xxlarge {
  margin-bottom: 50px; }

.fal-margin-left-tiny {
  margin-left: 5px; }

.fal-margin-left-small {
  margin-left: 10px; }

.fal-margin-left-medium {
  margin-left: 15px; }

.fal-margin-left-large {
  margin-left: 25px; }

.fal-margin-left-xlarge {
  margin-left: 35px; }

.fal-margin-left-xxlarge {
  margin-left: 50px; }

.fal-margin-tiny {
  margin: 5px; }

.fal-margin-small {
  margin: 10px; }

.fal-margin-medium, .fal-btn-white, .fal-btn-black, .fal-btn-default, .fal-btn-petal, .fal-btn-poppy, .fal-btn-stem, .fal-btn-springGreen, .fal-btn-mist, .fal-btn-stone, .fal-btn-shadow, .fal-btn-autumnFoliage, .fal-btn-sky, .fal-btn-sunset, .fal-btn-sunflower, .fal-btn-grass, .fal-btn-sandstone, .fal-btn-burntOrange, .fal-btn-sea, .fal-btn-lagoon, .fal-btn-hotPink, .fal-btn-bubblegum, .fal-btn-pollen, .fal-btn-brandy, .fal-btn-avocado, .fal-btn-yellowPepper, .fal-btn-aquaBlue, .fal-btn-ripeTomato, .fal-btn-sage, .fal-btn-honey, .fal-btn-bluebell, .fal-btn-raspberry, .fal-btn-electricBlue, .fal-btn-banana, .fal-btn-watermelon, .fal-btn-cantelope, .fal-btn-freshOrange, .fal-btn-fuschia, .fal-btn-lemonDrop, .fal-btn-blueRaspberry, .fal-btn-fresh, .fal-btn-vermillion, .fal-btn-sunshine, .fal-btn-clean, .fal-btn-papaya, .fal-btn-mustard, .fal-btn-blush, .fal-btn-marine {
  margin: 15px; }

.fal-margin-large {
  margin: 25px; }

.fal-margin-xlarge {
  margin: 35px; }

.fal-margin-xxlarge {
  margin: 50px; }

.fal-padding-top-tiny {
  padding-top: 5px; }

.fal-padding-top-small {
  padding-top: 10px; }

.fal-padding-top-medium {
  padding-top: 15px; }

.fal-padding-top-large {
  padding-top: 25px; }

.fal-padding-top-xlarge {
  padding-top: 35px; }

.fal-padding-top-xxlarge {
  padding-top: 50px; }

.fal-padding-right-tiny {
  padding-right: 5px; }

.fal-padding-right-small {
  padding-right: 10px; }

.fal-padding-right-medium {
  padding-right: 15px; }

.fal-padding-right-large {
  padding-right: 25px; }

.fal-padding-right-xlarge {
  padding-right: 35px; }

.fal-padding-right-xxlarge {
  padding-right: 50px; }

.fal-padding-bottom-tiny {
  padding-bottom: 5px; }

.fal-padding-bottom-small {
  padding-bottom: 10px; }

.fal-padding-bottom-medium {
  padding-bottom: 15px; }

.fal-padding-bottom-large {
  padding-bottom: 25px; }

.fal-padding-bottom-xlarge {
  padding-bottom: 35px; }

.fal-padding-bottom-xxlarge {
  padding-bottom: 50px; }

.fal-padding-left-tiny {
  padding-left: 5px; }

.fal-padding-left-small {
  padding-left: 10px; }

.fal-padding-left-medium {
  padding-left: 15px; }

.fal-padding-left-large {
  padding-left: 25px; }

.fal-padding-left-xlarge {
  padding-left: 35px; }

.fal-padding-left-xxlarge {
  padding-left: 50px; }

.fal-padding-tiny {
  padding: 5px; }

.fal-padding-small {
  padding: 10px; }

.fal-padding-medium {
  padding: 15px; }

.fal-padding-large {
  padding: 25px; }

.fal-padding-xlarge {
  padding: 35px; }

.fal-padding-xxlarge {
  padding: 50px; }

.fal-float-none {
  float: none; }

.fal-float-left {
  float: left; }

.fal-float-right {
  float: right; }

.fal-center {
  margin: 0 auto;
  float: none; }

.fal-width-0 {
  width: 0px;
  overflow: visible; }

.fal-width-50 {
  width: 50px;
  overflow: visible; }

.fal-width-100 {
  width: 100px;
  overflow: visible; }

.fal-width-150 {
  width: 150px;
  overflow: visible; }

.fal-width-200 {
  width: 200px;
  overflow: visible; }

.fal-width-250 {
  width: 250px;
  overflow: visible; }

.fal-width-300 {
  width: 300px;
  overflow: visible; }

.fal-width-350 {
  width: 350px;
  overflow: visible; }

.fal-width-400 {
  width: 400px;
  overflow: visible; }

.fal-width-450 {
  width: 450px;
  overflow: visible; }

.fal-width-500 {
  width: 500px;
  overflow: visible; }

.fal-width-550 {
  width: 550px;
  overflow: visible; }

.fal-width-600 {
  width: 600px;
  overflow: visible; }

.fal-width-650 {
  width: 650px;
  overflow: visible; }

.fal-width-700 {
  width: 700px;
  overflow: visible; }

.fal-width-750 {
  width: 750px;
  overflow: visible; }

.fal-width-800 {
  width: 800px;
  overflow: visible; }

.fal-width-850 {
  width: 850px;
  overflow: visible; }

.fal-width-900 {
  width: 900px;
  overflow: visible; }

.fal-width-950 {
  width: 950px;
  overflow: visible; }

.fal-width-1000 {
  width: 1000px;
  overflow: visible; }

.fal-full-width {
  width: 100%; }

.fal-height-0 {
  height: 0px;
  overflow: visible; }

.fal-height-50 {
  height: 50px;
  overflow: visible; }

.fal-height-100 {
  height: 100px;
  overflow: visible; }

.fal-height-150 {
  height: 150px;
  overflow: visible; }

.fal-height-200 {
  height: 200px;
  overflow: visible; }

.fal-height-250 {
  height: 250px;
  overflow: visible; }

.fal-height-300 {
  height: 300px;
  overflow: visible; }

.fal-height-350 {
  height: 350px;
  overflow: visible; }

.fal-height-400 {
  height: 400px;
  overflow: visible; }

.fal-height-450 {
  height: 450px;
  overflow: visible; }

.fal-height-500 {
  height: 500px;
  overflow: visible; }

.fal-height-550 {
  height: 550px;
  overflow: visible; }

.fal-height-600 {
  height: 600px;
  overflow: visible; }

.fal-height-650 {
  height: 650px;
  overflow: visible; }

.fal-height-700 {
  height: 700px;
  overflow: visible; }

.fal-height-750 {
  height: 750px;
  overflow: visible; }

.fal-height-800 {
  height: 800px;
  overflow: visible; }

.fal-height-850 {
  height: 850px;
  overflow: visible; }

.fal-height-900 {
  height: 900px;
  overflow: visible; }

.fal-height-950 {
  height: 950px;
  overflow: visible; }

.fal-height-1000 {
  height: 1000px;
  overflow: visible; }

.fal-full-height {
  height: 100%; }

.fal-position-static {
  position: static; }

.fal-position-relative {
  position: relative; }

.fal-position-fixed {
  position: fixed; }

.fal-position-absolute {
  position: absolute; }

.fal-overflow-visible {
  overflow: visible; }

.fal-overflow-hidden {
  overflow: hidden; }

.fal-overflow-scroll {
  overflow: scroll; }

.fal-overflow-auto {
  overflow: auto; }

.fal-overflow-x-visible {
  overflow-x: visible; }

.fal-overflow-x-hidden {
  overflow-x: hidden; }

.fal-overflow-x-scroll {
  overflow-x: scroll; }

.fal-overflow-x-auto {
  overflow-x: auto; }

.fal-overflow-y-visible {
  overflow-y: visible; }

.fal-overflow-y-hidden {
  overflow-y: hidden; }

.fal-overflow-y-scroll {
  overflow-y: scroll; }

.fal-overflow-y-auto {
  overflow-y: auto; }

.fal-display-inline {
  display: inline; }

.fal-display-block {
  display: block; }

.fal-display-flex {
  display: flex; }

.fal-display-inline-block {
  display: inline-block; }

.fal-display-inline-flex {
  display: inline-flex; }

.fal-display-inline-table {
  display: inline-table; }

.fal-display-list-item {
  display: list-item; }

.fal-display-run-in {
  display: run-in; }

.fal-display-table {
  display: table; }

.fal-display-table-caption {
  display: table-caption; }

.fal-display-table-column-group {
  display: table-column-group; }

.fal-display-table-header-group {
  display: table-header-group; }

.fal-display-table-footer-group {
  display: table-footer-group; }

.fal-display-table-cell {
  display: table-cell; }

.fal-display-table-column {
  display: table-column; }

.fal-display-table-row {
  display: table-row; }

.fal-display-none {
  display: none; }

.fal-opacity-0 {
  opacity: 0; }

.fal-opacity-1 {
  opacity: 0.1; }

.fal-opacity-2 {
  opacity: 0.2; }

.fal-opacity-3 {
  opacity: 0.3; }

.fal-opacity-4 {
  opacity: 0.4; }

.fal-opacity-5 {
  opacity: 0.5; }

.fal-opacity-6 {
  opacity: 0.6; }

.fal-opacity-7 {
  opacity: 0.7; }

.fal-opacity-8 {
  opacity: 0.8; }

.fal-opacity-9 {
  opacity: 0.9; }

.fal-opacity-10 {
  opacity: 1; }

.fal-divider {
  width: 100%;
  height: 0px;
  border-top: 1px solid #DFDCE3;
  margin-top: 20px;
  margin-bottom: 20px; }

.fal-btn-white {
  background: #FFF;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-white:hover {
    background: #e6e6e6; }
  .fal-btn-white:active {
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5); }

.fal-btn-black {
  background: #000;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-black:hover {
    background: black; }
  .fal-btn-black:active {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); }

.fal-btn-default {
  background: #2A3132;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-default:hover {
    background: #131616; }
  .fal-btn-default:active {
    box-shadow: 0 0 5px 0 rgba(42, 49, 50, 0.5); }

.fal-btn-petal {
  background: #F98866;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-petal:hover {
    background: #f76235; }
  .fal-btn-petal:active {
    box-shadow: 0 0 5px 0 rgba(249, 136, 102, 0.5); }

.fal-btn-poppy {
  background: #FF420E;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-poppy:hover {
    background: #da2f00; }
  .fal-btn-poppy:active {
    box-shadow: 0 0 5px 0 rgba(255, 66, 14, 0.5); }

.fal-btn-stem {
  background: #80BD9E;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-stem:hover {
    background: #5eac84; }
  .fal-btn-stem:active {
    box-shadow: 0 0 5px 0 rgba(128, 189, 158, 0.5); }

.fal-btn-springGreen {
  background: #89DA59;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-springGreen:hover {
    background: #6bd12f; }
  .fal-btn-springGreen:active {
    box-shadow: 0 0 5px 0 rgba(137, 218, 89, 0.5); }

.fal-btn-mist {
  background: #90AFC5;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-mist:hover {
    background: #6f97b3; }
  .fal-btn-mist:active {
    box-shadow: 0 0 5px 0 rgba(144, 175, 197, 0.5); }

.fal-btn-stone {
  background: #336B87;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-stone:hover {
    background: #254e62; }
  .fal-btn-stone:active {
    box-shadow: 0 0 5px 0 rgba(51, 107, 135, 0.5); }

.fal-btn-shadow {
  background: #2A3132;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-shadow:hover {
    background: #131616; }
  .fal-btn-shadow:active {
    box-shadow: 0 0 5px 0 rgba(42, 49, 50, 0.5); }

.fal-btn-autumnFoliage {
  background: #763626;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-autumnFoliage:hover {
    background: #4f241a; }
  .fal-btn-autumnFoliage:active {
    box-shadow: 0 0 5px 0 rgba(118, 54, 38, 0.5); }

.fal-btn-sky {
  background: #375E97;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-sky:hover {
    background: #294772; }
  .fal-btn-sky:active {
    box-shadow: 0 0 5px 0 rgba(55, 94, 151, 0.5); }

.fal-btn-sunset {
  background: #FB6542;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-sunset:hover {
    background: #fa3c10; }
  .fal-btn-sunset:active {
    box-shadow: 0 0 5px 0 rgba(251, 101, 66, 0.5); }

.fal-btn-sunflower {
  background: #FFBB00;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-sunflower:hover {
    background: #cc9600; }
  .fal-btn-sunflower:active {
    box-shadow: 0 0 5px 0 rgba(255, 187, 0, 0.5); }

.fal-btn-grass {
  background: #3F681C;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-grass:hover {
    background: #274011; }
  .fal-btn-grass:active {
    box-shadow: 0 0 5px 0 rgba(63, 104, 28, 0.5); }

.fal-btn-sandstone {
  background: #F4CC70;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-sandstone:hover {
    background: #f0bb41; }
  .fal-btn-sandstone:active {
    box-shadow: 0 0 5px 0 rgba(244, 204, 112, 0.5); }

.fal-btn-burntOrange {
  background: #DE7A22;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-burntOrange:hover {
    background: #b2621b; }
  .fal-btn-burntOrange:active {
    box-shadow: 0 0 5px 0 rgba(222, 122, 34, 0.5); }

.fal-btn-sea {
  background: #20948B;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-sea:hover {
    background: #176a64; }
  .fal-btn-sea:active {
    box-shadow: 0 0 5px 0 rgba(32, 148, 139, 0.5); }

.fal-btn-lagoon {
  background: #6AB187;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-lagoon:hover {
    background: #50986d; }
  .fal-btn-lagoon:active {
    box-shadow: 0 0 5px 0 rgba(106, 177, 135, 0.5); }

.fal-btn-hotPink {
  background: #F52549;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-hotPink:hover {
    background: #dd0a2f; }
  .fal-btn-hotPink:active {
    box-shadow: 0 0 5px 0 rgba(245, 37, 73, 0.5); }

.fal-btn-bubblegum {
  background: #FA6775;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-bubblegum:hover {
    background: #f83648; }
  .fal-btn-bubblegum:active {
    box-shadow: 0 0 5px 0 rgba(250, 103, 117, 0.5); }

.fal-btn-pollen {
  background: #FFD64D;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-pollen:hover {
    background: #ffca1a; }
  .fal-btn-pollen:active {
    box-shadow: 0 0 5px 0 rgba(255, 214, 77, 0.5); }

.fal-btn-brandy {
  background: #9BC01C;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-brandy:hover {
    background: #779316; }
  .fal-btn-brandy:active {
    box-shadow: 0 0 5px 0 rgba(155, 192, 28, 0.5); }

.fal-btn-avocado {
  background: #258039;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-avocado:hover {
    background: #1a5827; }
  .fal-btn-avocado:active {
    box-shadow: 0 0 5px 0 rgba(37, 128, 57, 0.5); }

.fal-btn-yellowPepper {
  background: #F5BE41;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-yellowPepper:hover {
    background: #f2ad11; }
  .fal-btn-yellowPepper:active {
    box-shadow: 0 0 5px 0 rgba(245, 190, 65, 0.5); }

.fal-btn-aquaBlue {
  background: #31A9B8;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-aquaBlue:hover {
    background: #268490; }
  .fal-btn-aquaBlue:active {
    box-shadow: 0 0 5px 0 rgba(49, 169, 184, 0.5); }

.fal-btn-ripeTomato {
  background: #CF3721;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-ripeTomato:hover {
    background: #a32b1a; }
  .fal-btn-ripeTomato:active {
    box-shadow: 0 0 5px 0 rgba(207, 55, 33, 0.5); }

.fal-btn-sage {
  background: #A1BE95;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-sage:hover {
    background: #85ab75; }
  .fal-btn-sage:active {
    box-shadow: 0 0 5px 0 rgba(161, 190, 149, 0.5); }

.fal-btn-honey {
  background: #E2DFA2;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-honey:hover {
    background: #d6d27b; }
  .fal-btn-honey:active {
    box-shadow: 0 0 5px 0 rgba(226, 223, 162, 0.5); }

.fal-btn-bluebell {
  background: #92AAC7;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-bluebell:hover {
    background: #7090b6; }
  .fal-btn-bluebell:active {
    box-shadow: 0 0 5px 0 rgba(146, 170, 199, 0.5); }

.fal-btn-raspberry {
  background: #ED5752;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-raspberry:hover {
    background: #e82a24; }
  .fal-btn-raspberry:active {
    box-shadow: 0 0 5px 0 rgba(237, 87, 82, 0.5); }

.fal-btn-electricBlue {
  background: #489768;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-electricBlue:hover {
    background: #387450; }
  .fal-btn-electricBlue:active {
    box-shadow: 0 0 5px 0 rgba(72, 151, 104, 0.5); }

.fal-btn-banana {
  background: #FFDB5C;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-banana:hover {
    background: #ffd029; }
  .fal-btn-banana:active {
    box-shadow: 0 0 5px 0 rgba(255, 219, 92, 0.5); }

.fal-btn-watermelon {
  background: #FA6E59;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-watermelon:hover {
    background: #f94327; }
  .fal-btn-watermelon:active {
    box-shadow: 0 0 5px 0 rgba(250, 110, 89, 0.5); }

.fal-btn-cantelope {
  background: #F8A055;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-cantelope:hover {
    background: #f68524; }
  .fal-btn-cantelope:active {
    box-shadow: 0 0 5px 0 rgba(248, 160, 85, 0.5); }

.fal-btn-freshOrange {
  background: #F47D4A;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-freshOrange:hover {
    background: #f15a1a; }
  .fal-btn-freshOrange:active {
    box-shadow: 0 0 5px 0 rgba(244, 125, 74, 0.5); }

.fal-btn-fuschia {
  background: #E1315B;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-fuschia:hover {
    background: #c31c44; }
  .fal-btn-fuschia:active {
    box-shadow: 0 0 5px 0 rgba(225, 49, 91, 0.5); }

.fal-btn-lemonDrop {
  background: #FFEC5C;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-lemonDrop:hover {
    background: #ffe629; }
  .fal-btn-lemonDrop:active {
    box-shadow: 0 0 5px 0 rgba(255, 236, 92, 0.5); }

.fal-btn-blueRaspberry {
  background: #008DCB;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-blueRaspberry:hover {
    background: #006a98; }
  .fal-btn-blueRaspberry:active {
    box-shadow: 0 0 5px 0 rgba(0, 141, 203, 0.5); }

.fal-btn-fresh {
  background: #4ABDAC;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-fresh:hover {
    background: #399b8d; }
  .fal-btn-fresh:active {
    box-shadow: 0 0 5px 0 rgba(74, 189, 172, 0.5); }

.fal-btn-vermillion {
  background: #FC4A1A;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-vermillion:hover {
    background: #e03203; }
  .fal-btn-vermillion:active {
    box-shadow: 0 0 5px 0 rgba(252, 74, 26, 0.5); }

.fal-btn-sunshine {
  background: #F7B733;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-sunshine:hover {
    background: #eea309; }
  .fal-btn-sunshine:active {
    box-shadow: 0 0 5px 0 rgba(247, 183, 51, 0.5); }

.fal-btn-clean {
  background: #DFDCE3;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-clean:hover {
    background: #c5c0cc; }
  .fal-btn-clean:active {
    box-shadow: 0 0 5px 0 rgba(223, 220, 227, 0.5); }

.fal-btn-papaya {
  background: #E24E42;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-papaya:hover {
    background: #d12d20; }
  .fal-btn-papaya:active {
    box-shadow: 0 0 5px 0 rgba(226, 78, 66, 0.5); }

.fal-btn-mustard {
  background: #E9B000;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-mustard:hover {
    background: #b68900; }
  .fal-btn-mustard:active {
    box-shadow: 0 0 5px 0 rgba(233, 176, 0, 0.5); }

.fal-btn-blush {
  background: #EB6E80;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-blush:hover {
    background: #e54159; }
  .fal-btn-blush:active {
    box-shadow: 0 0 5px 0 rgba(235, 110, 128, 0.5); }

.fal-btn-marine {
  background: #008F95;
  padding: 5px 20px;
  transition: background .5s;
  cursor: pointer; }
  .fal-btn-marine:hover {
    background: #005e62; }
  .fal-btn-marine:active {
    box-shadow: 0 0 5px 0 rgba(0, 143, 149, 0.5); }

/*# sourceMappingURL=main.css.map */
