// Unique prefix
$prefix: 'fal';

// Breakpoints
$xs: 0;
$md: 768px;
$lg: 1200px;

// Typography
$sans-serif: sans-serif;
$font: $sans-serif;

// Colors
$colors: (
    white: #FFF,
    black: #000,

    petal:                              #F98866,
    poppy:                              #FF420E,
    stem:                               #80BD9E,
    springGreen:                        #89DA59,

    mist:                               #90AFC5,
    stone:                              #336B87,
    shadow:                             #2A3132,
    autumnFoliage:                      #763626,

    sky:                                #375E97,
    sunset:                             #FB6542,
    sunflower:                          #FFBB00,
    grass:                              #3F681C,

    sandstone:                          #F4CC70,
    burntOrange:                        #DE7A22,
    sea:                                #20948B,
    lagoon:                             #6AB187,

    hotPink:                            #F52549,
    bubblegum:                          #FA6775,
    pollen:                             #FFD64D,
    brandy:                             #9BC01C,

    avocado:                            #258039,
    yellowPepper:                       #F5BE41,
    aquaBlue:                           #31A9B8,
    ripeTomato:                         #CF3721,

    sage:                               #A1BE95,
    honey:                              #E2DFA2,
    bluebell:                           #92AAC7,
    raspberry:                          #ED5752,

    electricBlue:                       #489768,
    banana:                             #FFDB5C,
    watermelon:                         #FA6E59,
    cantelope:                          #F8A055,

    freshOrange:                        #F47D4A,
    fuschia:                            #E1315B,
    lemonDrop:                          #FFEC5C,
    blueRaspberry:                      #008DCB,

    fresh:                              #4ABDAC,
    vermillion:                         #FC4A1A,
    sunshine:                           #F7B733,
    clean:                              #DFDCE3,

    papaya:                             #E24E42,
    mustard:                            #E9B000,
    blush:                              #EB6E80,
    marine:                             #008F95
);
