@mixin auto-height() {
    display:block;
    overflow:auto;
}

@mixin grid_fixer() {
    @include auto-height();
    float: left;
}

@mixin grid_maker($cols, $suffix) {
    @for $n from 1 through $cols {
        .#{$prefix}-col-#{$suffix}-#{$n} {
            width: 100% / ($cols/$n);
            @include grid_fixer();
        }
    }
    @each $suff in $suffix {
        .#{$prefix}-col-#{$suffix}-hidden {
            display: none;
        }
    }
}
