@mixin autoHeight() {
    display:block;
    overflow:auto;
}

@mixin gridFixer() {
    @include autoHeight();
    float: left;
}

@mixin gridMaker($cols, $suffix) {
    @for $n from 1 through $cols {
        .#{$prefix}-col-#{$suffix}-#{$n} {
            width: 100% / ($cols/$n);
            @include gridFixer();
        }

        .#{$prefix}-col-#{$suffix}-offset-#{$n} {
            margin-left: 100% / ($cols/$n);
        }
    }
    @each $suff in $suffix {
        .#{$prefix}-col-#{$suffix}-hidden {
            display: none;
        }
    }
}
