$shorthandReference: (
    xs: $xs,
    md: $md,
    lg: $lg
);

@function getSize($sizes, $size) {
    @return map-get($sizes, $size);
}

@mixin makeAllGrids($cols, $sizes) {
    @each $size in $sizes {
        @media (min-width: getSize($shorthandReference, $size)) {
            @include gridMaker($cols, $size);
        }
    }
}

$sizes: xs, md, lg;

.#{$prefix}-row {
    @include autoHeight();
    padding: 5px;

    @include makeAllGrids(12, $sizes);

}
