// Border and outline
$borders: border, outline;
@each $property in $borders {
    .#{$prefix}-#{$property} {
        #{$property}: 1px solid getColor(black);
    }
    .#{$prefix}-#{$property}-none {
        #{$property}: none;
    }
}

// Border radius
.#{$prefix}-circle {
    border-radius: 50%;
}

// Classes for opacity
@for $n from 0 through 100 {
    .#{$prefix}-radius-#{$n} {
        border-radius: $n * 1px;
    }
}

@mixin border($args...) {
    border: $args;
}

@mixin border-top($args...) {
    border-top: $args;
}

@mixin border-bottom($args...) {
    border-bottom: $args;
}

@mixin border-left($args...) {
    border-left: $args;
}

@mixin border-right($args...) {
    border-right: $args;
}
