// Border and outline
$borders: border, outline;
@each $n in $borders {
    .#{$prefix}-#{$n} {
        #{$n}: 1px solid getColor(black);
    }
}

// Border radius
.#{$prefix}-circle {
    border-radius: 50%;
}

// Classes for opacity
@for $n from 0 through 100 {
    .#{$prefix}-radius-#{$n} {
        border-radius: $n * 1px;
    }
}
