// Text align
$text-align: 'center', 'left', 'right';
@include propertyToClass($prefix, $text-align, text-align);

// Text decorations
$text-decoration: 'underline', 'overline', 'line-through', 'none';
@include propertyToClass($prefix, $text-decoration, text-decoration);

// Text transforms
$text-transform: 'capitalize', 'uppercase', 'lowercase', 'none';
@include propertyToClass($prefix, $text-transform, text-transform);
