// Headings
@for $n from 1 through 6 {
    h#{$n} {
        font-size: (40 - 3*$n) + px;
        margin: 10px;
    }
}

// Paragraph
p {
    margin: 10px;
}

// Lists
ul, .#{$prefix}-ul {
    margin: 10px;

    li {
        padding-left: 20px;
        margin:10px;

        &:before {
            content: "•";
            margin-right: 5px;
        }
    }
}

// 100 classes for font-size
@for $n from 1 through 100 {
    .#{$prefix}-font-size-#{$n} {
        font-size: #{$n}px;
    }
}


ol, .#{$prefix}-ol {
    margin-left: 40px;
    list-style-type: decimal;

    li {
        padding-left: 5px;
        margin:10px;

    }
}
